body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px; 
}

[type="file"] + label {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  width: 100%;
  color: #212529;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  text-align: center;
}
 
[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #dae0e5;
    border-color: #d3d9df;
}
 
[type="file"]:focus + label {
  outline: 1px dotted rgb(160, 159, 159);
}

[type="file"]:invalid + label {
  border-color: #dc3545;
    padding-right: calc((1em + .75rem) * 3 / 4 + 1.75rem);
    background: #fff;
}

.custom-select {
  background-color: #f8f9fa !important;
  border-color: #d3d9df;
}